* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1 {
	width: 960px;
	margin: 50px 1px;
}
.contents{
	float: left;
	width: 300px;
	border: 1px solid #f0f0f0;
	margin-right: 30px;
}
.contents:last-child {
	margin:0;
}

span {
	position: absolute;
	background-color: orange;
	color: white;
	padding: 3px;
}
.box2 {
	padding: 10px;
}
.step1-img {
	height: 150px;
	background-image: url(img/flow01.png);
	background-size: cover;
	background-position: bottom;
}
.step2-img {
	height: 150px;
	background-image: url(img/flow02.png);
	background-size: cover;
	background-position: bottom;
}
.step3-img{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

h3 {
	margin-top: 8px;
}

@media screen and (max-width:768px) {
.box1 {
	width: 90%;
	margin: 50px auto;
}
.contents{
	width: 100%;
	border: 1px solid #f0f0f0;
	margin-bottom: 20px;
}
.contents:last-child {
	margin:0;
}
.box2 {
	margin: 10px;
    padding: 0px;
}

}